
python-dotenv>=0.10.3
azure-ai-evaluation[remote]
azure-monitor-opentelemetry==1.6.7
azure-ai-ml>=1.22.0
azure-identity>=1.19.0
keyrings.alt
python-dotenv
azure-ai-projects
azure-ai-inference[prompts]
azure-mgmt-web>=7.3.1
azure-mgmt-resource>=23.2.0
requests>=2.25.0
semantic-kernel[azure]
semantic-kernel[all]